/Software/nbproject/private/
/Software/build/
/Software/dist/
/Liga/nbproject/private/
/Liga/build/
/Liga/dist/
Software/src/main/webapp/WEB-INF/web.xml
Software/src/main/java/Model/Usuario.java
Software/src/main/webapp/login.jsp
Software/src/main/java/Model/Usuario.java
Software/src/main/webapp/login.jsp
Software/src/main/webapp/WEB-INF/web.xml
